<div class="post framed">
    <img src="/static/default-avatar.png" alt="User avatar">  <!-- 临时默认头像 -->
    <div class="post-body">
        <div class="username">
            <a href="/profile/{{user.userId}}">{{user.firstName}} {{user.lastName}}</a>
        </div>
        <div class="post-date">{{postDate}}</div>
        <div class="post-content">
            {{content}}
        </div>
        <div class="post-actions">
            <a href="/post/{{postId}}" class="far fa-comment"></a>
            <span class="action-count">{{commentsCount}}</span>

            {{#isHearted}}
            <form method="get" action="/post/{{postId}}/heart/false">
                <button class="fa fa-heart"></button>
            </form>
            {{/isHearted}}

            {{^isHearted}}
            <form method="get" action="/post/{{postId}}/heart/true">
                <button class="far fa-heart"></button>
            </form>
            {{/isHearted}}

            <span class="action-count">{{heartsCount}}</span>

            {{#isBookmarked}}
            <form method="get" action="/post/{{postId}}/bookmark/false">
                <button class="fa fa-bookmark"></button>
            </form>
            {{/isBookmarked}}

            {{^isBookmarked}}
            <form method="get" action="/post/{{postId}}/bookmark/true">
                <button class="far fa-bookmark"></button>
            </form>
            {{/isBookmarked}}
        </div>
    </div>
    
    {{#isShowComments}}
    {{> fragments/comments_container}}
    {{/isShowComments}}
</div>
